/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* 
 * ********************* 
 * 		Variables
 * *********************
 */
/* 
 * ********************* 
 * 		Mixins
 * *********************
 */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-border {
  border: 1px solid black;
}
.bottom-border {
  border-bottom: 1px dashed black;
}
.section-headings {
  font-size: 1.5rem;
  padding: 2% 0;
}
/* 
 * ********************* 
 * 		General styles
 * *********************
 */
.container {
  width: 800px;
  margin: 0 auto;
  background-color: lightgray;
}
body {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 h6 {
  font-family: 'Roboto Mono', monospace;
}
p,
li {
  font-family: 'Lato', sans-serif;
}
/* 
 * ********************* 
 * 		Header styles
 * *********************
 */
header {
  border: 1px solid black;
  padding: 5%;
  height: 40vh;
  display: flex;
}
header .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkslategray;
  text-align: center;
  padding: 2%;
}
header nav a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  color: black;
}
header nav a:hover {
  background-color: white;
  color: slategray;
}
header .contact {
  text-align: center;
  margin-top: 5%;
}
header .contact h1 {
  font-size: 1.5rem;
}
header .contact p {
  margin-top: 2%;
}
header .profile-img {
  width: 32%;
  height: 20vh;
  transform: rotate(90deg);
  padding: 1%;
}
header .profile-img img {
  width: 100%;
  border-radius: 5rem;
}
/* 
 * ********************* 
 * 		Intro. styles
 * *********************
 */
.introduction {
  width: 100%;
  margin: 5% 0;
  padding: 2%;
}
.introduction h2 {
  margin: 2%;
  font-size: 1.5rem;
  padding: 2% 0;
  border-bottom: 1px dashed black;
}
.introduction p {
  text-align: center;
}
/* 
 * ********************* 
 * 		Skills styles
 * *********************
 */
.skills {
  background-color: slategray;
  width: 50%;
  margin: 0 auto;
}
.skills h2 {
  font-size: 1.5rem;
  padding: 2% 0;
  border-bottom: 1px dashed black;
  text-align: center;
}
.skills ul {
  width: 90%;
  margin: 0 auto;
  padding: 2%;
}
.skills li {
  list-style: circle;
  list-style-position: inside;
  margin: 3% 0;
}
/* 
 * ************************  
 * 		Work history styles
 * ************************
 */
.work-history {
  width: 100%;
  padding: 4%;
}
.work-history h2 {
  margin: 3% 0;
  font-size: 1.5rem;
  padding: 2% 0;
  border-bottom: 1px dashed black;
}
.work-history .work-titles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}
.work-history .work-titles h3 {
  border-bottom: 1px dashed black;
}
.work-history .work-titles p {
  border-bottom: 1px dashed black;
}
.work-history .work-container {
  display: flex;
  justify-content: space-around;
}
/* 
 * ************************  
 * 		Education styles
 * ************************
 */
.education {
  width: 100%;
  padding: 4%;
}
.education h2 {
  font-size: 1.5rem;
  padding: 2% 0;
  border-bottom: 1px dashed black;
}
.education .ed-container {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.education .ed-container .school-info {
  text-align: center;
}
.education .ed-container .school-info p {
  margin: 5% 0;
}
/* 
 * ********************* 
 * 		Footer styles
 * *********************
 */
footer {
  display: flex;
  border: 1px solid black;
  background-color: darkslategray;
  justify-content: space-around;
  padding: 2%;
}
